container_commands:
  01_migrate_db:
    command: docker exec `docker ps -l -q -f 'status=running'` bundle exec rake db:migrate RAILS_ENV=production
    leader_only: true
    ignoreErrors: false
  02_seed_db:
    command: docker exec `docker ps -l -q -f 'status=running'` bundle exec rake db:seed RAILS_ENV=production
    leader_only: true
    ignoreErrors: false
